body {
  font-size: 1em;
  line-height: 1.4;
  font-family: "Open Sans", "Roboto", "Helvetica Neue", Helvetica, sans-serif;
  background: white;
  color: #595959;
  max-width: 60rem;
  margin: auto;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: #0059b3;
}
a:hover,
a:focus {
  text-decoration: underline;
}

h1 {
  text-align: center;
  color: white;
  background-color: #595959;
  padding: 0.25rem 2.5rem;
}
h2 {
  text-align: center;
  color: white;
  background-color: #595959;
  padding: 0.25rem 2.5rem;
}

fieldset {
  border: solid 2px pink;
  border-radius: 8px;
  display: inline-block;
}

legend {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.indented {
  padding-left: 2rem;
}

.tldr {
  border: solid 2px pink;
  border-radius: 8px;
  background: pink;
  color: black;
  padding: 1rem;
  font-size: large;
}

@media only screen and (min-width: 40rem) {
  .tldr {
    display: block;
    float: right;
    width: 16rem;
    margin-left: 1rem;
  }
  h2 {
    display: inline-block;
    1.margin-top: 5em;
  }
  .indented {
    padding-left: 5rem;
  }
}

@media print {
  *{
@media (prefers-color-scheme: dark) {


  }    background: transparent !important;
    color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none;
    text-shadow: none;
  }


  a,
  a:visited {
    text-decoration: underline;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background: #595959;
    color: white;
  }
  .tldr {
    border: solid 2px #6cf;
    border-radius: 8px;
    background: #606;
    color: white;
    padding: 1rem;
    font-size: large;
  }
  a {
    color: #6cf;
  }
  h1, h2 {
    color: #595959;
    background-color: white;
  }
}
