body {
  line-height: 1.5;
  font-family: "Open Sans", "Roboto", "Helvetica Neue", Helvetica, sans-serif;
  background: white;
  color: #595959;
  max-width: 50rem;
  margin: auto;
  padding: 1rem;
  font-size: large;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
}

a {
  text-decoration: none;
  color: #0059b3;
}
a:hover,
a:focus {
  text-decoration: underline;
}

h1 {
  text-align: center;
  color: white;
  background-color: #595959;
  padding: auto;
}
h2 {
  text-align: center;
  color: white;
  background-color: #595959;
  padding: 0.25rem auto;
  scroll-snap-align: start;
}
p {
  max-width: 78ch;
}

fieldset {
  border: solid 2px pink;
  border-radius: 8px;
  display: inline-block;
}

legend {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.indented {
  padding-left: 1.5rem;
}

.tldr {
  border: solid 2px pink;
  border-radius: 8px;
  background: pink;
  color: black;
  padding: 1rem;
  font-size: large;
}

code {
  font-size: medium;
}

@media only screen and (min-width: 40rem) {
  .tldr {
    display: block;
    float: right;
    width: 16rem;
    margin-left: 1rem;
  }
  h1 {
    padding: 0.25rem 2.5rem;
  }
  h2 {
    display: inline-block;
    margin-top: 1.5em;
    padding: 0.25rem 2.5rem;
  }
  .indented {
    padding-left: 3rem;
  }
}

@media print {
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none;
    text-shadow: none;
    font-size: 12px;
  }
  .tldr {
    font-size: 12px;
    float: right;
    width: 30%;
    border: solid 2px red;
  }

  a {
    text-decoration: underline;
  }
  a::after {
    content: " (" attr(href) ") ";
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 16px;
  }
  h3 {
    font-size: 14px;
  }
  code {
    font-size: 10px;
  }
  p {
    max-width: 100ch;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background: #353535;
    color: #c3c3c3;
    font-weight: 350;
  }
  .tldr {
    border: solid 2px #7accff;
    border-radius: 8px;
    background: #620062;
    color: #c3c3c3;
    padding: 1rem;
    font-size: large;
  }
  a {
    color: #7accff;
  }
  h1,
  h2 {
    color: #353535;
    background-color: #c3c3c3;
  }
}
